@import url(./modal.css);

/*Inter font*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


$btnbackground : #cedee7;
$mainDarkBlue : #2B518B ;
$mainLightColor: #e5e5e5;
$whiteColor: #FFFFFF;
$loginColor: #7d92b3;


@mixin fontStyle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
}
@mixin justAlignCenter {
    justify-content: center;
    align-items: center;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

/*scss for index.js and so index.html */
:root {
    --marg1: 0px;
    --marg2: 20px;
    --main-color: rgba(4, 163, 255, 0.623);
}
/* Style reset */
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    @include justAlignCenter;
    height: 100vh;
    background: url(../assets/images/clouds_1920.jpg) top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-width: 320px;*/
    /* background-size: cover;*/
}

#colors g:hover{
    fill: #0ee323;
}

g.selected {
    fill: #1a9226
}


.container {
    width: calc(100% - 2 * var(--marg1));
    height: calc(100% - 2 * var(--marg1));
    background-color: var(--main-color);
    margin: var(--marg1);
    padding: 0;
    min-width: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto min-content;
    margin-bottom: 0px;
    min-width: 320px;
}


.navbar {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    justify-content: left;
    min-width: 320px;
    width: calc(100% - 2 * var(--marg2));
    height: 74px;
    background: $mainLightColor;
    border-radius: 10px;
    margin: var(--marg2);
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
}


.logo { display: flex; 
    img {
    content: url(../assets/images/Flightbook.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: auto;
    margin-left: 20px;
    }
}

.menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 12px;
    margin-top: auto;
    margin-bottom: auto;
    li {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    text-align: center;
    }
}

li {
    &.avatar {
    margin-left: 24px;
    }
    &.location-weather {
    margin-left: 20px;
    }
}

.location-time,
.location-weather {
    font-family: "DejaVu Sans Mono", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    align-items: center;
    color: $mainDarkBlue;
}

.btn-login {
    background: $loginColor;
    border-radius: 5px;
    width: 64px;
    height: 32px;
    border: none;
    color: $mainLightColor;
    &:hover {
    background: $mainLightColor;
    border-radius: 5px;
    width: 64px;
    height: 32px;
    border: 1px $loginColor solid;
    color: $loginColor;
    }
}

/*button for accepting and saving data*/

#select-dest, #select-depart {
    width: 184px;
    height:32px;
    background: $whiteColor;
    border: 1px solid $mainDarkBlue;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.main {
    margin-left: 20px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* background-color: rgba(255, 255, 255, 0.2); */
    &.content {
    @include flexColumn;
    align-items: center;
    gap: 18px;
    max-width: 100%;
    min-height: 200px;
    background: rgba(229, 229, 229,0.3);
    border-radius: 10px;
    margin: 0px 58px 40px 8px;
    padding: 26px;
    }
}
.aside {
    @include fontStyle;
    font-size: 0.8em;
    color: $mainDarkBlue;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.aside-content {
    width: auto;
    background-color: rgba(56, 220, 231, 0.1);
    overflow: hidden;
    .result-text-info{
    @include flexColumn;
    font-size: 16px;
    }
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    flex-wrap: wrap;
    column-gap: 18px;
}


.footer {
    background-color: rgb(18, 207, 11);
    /* filter: opacity(0.5); */
    width: calc(100% - 2 * var(--marg2));
    height: 74px;
    background: $mainLightColor;
    border-radius: 10px;
    margin: var(--marg2);
    min-width: 320px;
    grid-column: 1 / span 2;
}

.btn {
    display: flex;
    @include justAlignCenter;
    gap: 12px;
    width: 100%;
    height: 50px;
    background: $btnbackground;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px;
    @include fontStyle;
    align-items: center;
    color: $mainDarkBlue;
    .arrival {
    display: flex;
    @include justAlignCenter;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    }
    &:hover {
    border: 1px solid $mainDarkBlue;
    }
    &.accept {
    background: $loginColor;
    border: 1px solid $mainLightColor;
    box-sizing: border-box;
    border-radius: 5px;
    color: $mainLightColor;
    font-size: 1.4em;
}
&.accept:hover {
    background: #0f68ee;
    border: 1px solid $mainLightColor;
    box-sizing: border-box;
    border-radius: 5px;
    color: $mainLightColor;
    font-size: 1.4em;
}
img {
    width: 25px;
}
&.passangers {
    img {
        width: 34px;
        &:hover {
            width: 40px;
        }
    }
}

}



.numPass {
    width: 50px;
    height: 28px;
    background-color: $mainLightColor;
    border: 1px solid $mainDarkBlue;
    border-radius: 5px;
    @include fontStyle;
    display: flex;
    @include justAlignCenter;
    text-align: center;
    color: $mainDarkBlue;
    padding-left:11px;
}

/* main content */
.sign {
    height: 50px;
    img {
    width: 75px;
    }
    .main-content & {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.footer {
    @include fontStyle;
    display: flex;
    @include justAlignCenter;
    color: $mainDarkBlue;
    text-align: center;
}

/* wklejka*/

li {
    u & {
        display: block;
    }
    .menu &:last-child {
        display: none;
    }
    & .avatar {
        margin-left: 0;
    }
}


.logo {
    height: auto;
    margin: 0;
    img {
    margin-top: 8px;
    width: 100px;
    }
}

.btn-login,
.btn-login-apear {
    display: none;
}
.location-time,
.location-weather {
    font-size: 0.8em;
    margin: 0;
}
.row {
    flex-direction: column;
    width: 100%;
}

.main-content {
    margin: 8px;
    width: auto;
    max-width: none;
    padding: 18px;
}


.main {
    margin-left: 0;
    height:auto;
    &.content {
    margin: 0 8px 8px 8px;
    }
}


.footer {
    width: auto;
    height: 60px;
    margin: 8px;
    font-size: 0.8em;
}

.template {
    width: 85%;
    height:auto;
    background-color: $mainDarkBlue;
    background-image: url("../assets/images/clouds_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin:4px;
    border:1px solid rgb(181, 180, 180);
    &.hide {
    display: none;
    }
}

%select-tool {
    width: min-content;
    height: 32px;
    background: $whiteColor;
    border: 1px solid $mainDarkBlue;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    padding-bottom:2px;
    @include fontStyle;
    font-weight:500;
    font-size: 16px;
    color: $mainDarkBlue;
    align-self: center;
    &:focus-visible {
        border: 2px solid $mainDarkBlue;
        outline: 0 solid ;
    }
}

#select-arrival-date, #select-depart-date {
    @extend %select-tool;
}



.det-wether-icon{
    @include flexColumn;
    @include justAlignCenter;
}
.flex, .img-info , .silos {
    @include flexColumn;
    @include justAlignCenter;
}



@media  (max-width: 900px) {
    body {
        min-height: 100vh;
        height:auto;
    }
    .navbar {
        width: auto;
        flex-direction: column;
        @include justAlignCenter;
        min-height: auto;
        margin: 8px;
        height: auto;
    }
    .menu {
        
        margin: 0;
        margin-bottom: 8px;
        li {
        display: block;
            &:last-child {
            display: none;
            }
        }
    }

    .logo {
        height: auto;
        margin: 0;
        img {
        margin-top: 8px;
        width: 100px;
        }
    }

    li .avatar {
        margin-left: 0;
    }
    .btn-login,
    .btn-login-apear {
        display: none;
    }
    .location-time,
    .location-weather {
        font-size: 0.8em;
        margin: 0;
    }
    .row {
        flex-direction: column;
        width: 100%;
    }
    .container {
        height: auto;
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 110px min-content auto min-content;
        margin-bottom: 0px;
        min-width: 320px;
    }


    
    .main-content {
        margin: 8px;
        width: auto;
        max-width: none;
        padding: 18px;
    }
    .main {
        margin-left: 0;
        &.content {
            margin: 8px;
        }
    }
    .aside {
        height: auto;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-left: 8px;
        margin-right: 8px;
    }
    .btn {
        width: 100%;
    }

    .footer {
        width: auto;
        height: 60px;
        margin: 8px;
        font-size: 0.8em;
    }
}

@media  (max-width: 600px) {
    body {
        height: auto;
    }

    .navbar {
        width: auto;
        flex-direction: column;
        @include justAlignCenter;
        min-height:auto;
        margin: 8px;
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }
    .menu {
        justify-content: space-evenly;
        margin: 0;
        margin-bottom: 8px;
        li {
        display: block;
            &:last-child {
            display: none;
            }
        }
    }

    .logo {
        height: auto;
        margin: 0;
        img {
        margin-top: 8px;
        width: 100px;
        }
    }

    li .avatar {
        margin-left: 0;
    }
    .btn-login,
    .btn-login-apear {
        display: none;
    }
    .location-time,
    .location-weather {
        font-size: 0.8em;
        margin: 0;
    }
    .row {
        row-gap:18px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .container {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 110px auto auto auto;
        margin-bottom: 0px;
        min-width: 320px;
    }

    
    .main-content {
        margin: 8px;
        width: auto;
        height:auto;
        max-width: none;
        padding: 18px;
    }

    .main {
        margin-left: 0;
        &.content {
            margin: 8px;
        }
    }
    
    .aside {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-left: 8px;
        margin-right: 8px;
    }
    .btn {
        width: 100%;
    }

    .footer {
        width: auto;
        height: 60px;
        margin: 8px;
        font-size: 0.8em;
    }
}
